.page-container {
  display: flex;
}

.docs-grid{}
.docs-content {
  padding:20px;
  flex: 1;
}

.docs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.docs-header  h1{
  color: #333;
}


 
.add-doc-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.docs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
margin: 2em auto;
width: 60%;
}

.doc-card {
  background: #f9f9f9;
  padding: 20px;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.modal {
  width: 50%;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


