/* Login Page Styles */
.login-page {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #6c63ff, #3f51b5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px 30px;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .login-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    color: #3f51b5;
  }
  
  .login-form p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
  }
  
  .form-group input:focus {
    border-color: #3f51b5;
    box-shadow: 0 0 5px rgba(63, 81, 181, 0.5);
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #3f51b5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .login-button:hover {
    background: #6c63ff;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  .language-switcher {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .language-switcher button {
    background: transparent;
    border: 1px solid #ddd;
    color: #3f51b5;
    font-size: 14px;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .language-switcher button:hover {
    background: #3f51b5;
    color: #fff;
    border-color: #3f51b5;
  }
  