/* Sidebar styles */
.dashboard-sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  padding-bottom: 2em;
  background-color: #2c3e50;
  color: #fff;
  border-right: 2px solid #ddd;
  transition: all 0.3s ease;
  height: 200vh;
}

.dashboard-sidebar nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0em;
}

.dashboard-sidebar nav ul li {
  margin: -18px 0;
  font-size: 1.2rem;
}

.dashboard-sidebar nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.dashboard-sidebar nav ul li a:hover {
  background-color: #3498db;
}

.language-changer {
  margin-top: 20px;
}

.language-changer p {
  margin: 0;
  font-size: 1rem;
}

.language-changer select {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  background-color: #ecf0f1;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

/* Responsive Layout */
@media screen and (max-width: 768px) {
  .dashboard-sidebar {
    width: 100%;
    position: relative;
    height: auto;
  }

  .dashboard-sidebar nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dashboard-sidebar nav ul li {
    margin: 10px 0;
  }

  .dashboard-sidebar nav ul li a {
    font-size: 1rem;
    padding: 12px;
  }

  .language-changer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .language-changer p {
    font-size: 1rem;
  }

  .language-changer select {
    margin-top: 10px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .dashboard-sidebar {
    width: 100%;
  }

  .dashboard-sidebar nav ul li a {
    font-size: 0.9rem;
    padding: 8px 15px;
  }
}
